# Secrets and credentials
.env
.env.*
!.env.example
!.env.sample

*.asc
*.cer
*.crt
*.der
*.gpg
*.key
*.p12
*.pem
*.pfx

.aws/
.azure/
.gcloud/
auth.json
config/secrets/
credentials.json
credentials.yaml
credentials.yml
id_rsa*
secret.txt
secrets.json
secrets.yaml
secrets.yml

# Lefthook private configuration
lefthook-local.yaml
lefthook-local.yml

# MacOS files
.DS_Store

# Node.js
**/node_modules/

# Mise private configuration
**/.mise.*.local.toml
**/.mise.local.toml

# VS Code private configuration
**/.vscode/settings.json
