# Lefthook private configuration
lefthook-local.yaml
lefthook-local.yml

# MacOS files
.DS_Store

# Node.js
**/node_modules/

# Mise private configuration
**/.mise.*.local.toml
**/.mise.local.toml

# VS Code private configuration
**/.vscode/settings.json
