[tools]
gitleaks = "latest"
lefthook = "latest"
node = { postinstall = "corepack enable pnpm && corepack use pnpm@latest-10", version = "24.11.1" }
shellcheck = "latest"
shfmt = "latest"
taplo = "0.10.0"


[tasks.check]
depends = ["check:*", "lint"]
description = "Run all static code analysis"

[tasks."check:biome"]
description = "Run Biome format check over configured files"
run = "pnpm biome check"

[tasks."check:prettier"]
description = "Run Prettier check over configured files"
run = "pnpm prettier --check ."

[tasks."check:secrets"]
description = "Scan Git history for secrets using Gitleaks"
run = "gitleaks git"

[tasks."check:toml-fmt"]
description = "Check TOML formatting"
run = "taplo format --check"

[tasks.format]
depends = ["format:*"]
description = "Format all files"

[tasks."format:biome"]
description = "Run Biome over configured files"
run = "pnpm biome format --write"

[tasks."format:prettier"]
description = "Run Prettier over configured files"
run = "pnpm prettier --write ."

[tasks."format:shell"]
description = "Format shell scripts"
run = "shfmt --write ."

[tasks."format:toml"]
description = "Format TOML files"
run = "taplo fmt"

[tasks."install-all"]
depends_post = ["pnpm-install"]
description = "Install all tools and dependencies for local development"
run = "mise install"

[tasks."pnpm-install"]
description = "Installs dependencies with pnpm"
hide = true
outputs = ["node_modules/.pnpm/lock.yaml"]
run = "pnpm install"
sources = ["package.json", "pnpm-lock.yaml", "mise.toml"]

[tasks.lint]
depends = ["lint:*"]
description = "Run all linters"

[tasks."lint:biome"]
description = "Run Biome over configured files"
run = "pnpm biome lint"

[tasks."lint:markdown"]
description = "Lint Markdown files"
run = "pnpm markdownlint-cli2 ."

[tasks."lint:spelling"]
description = "Run spellcheck"
run = "pnpm cspell ."

[tasks."lint:toml"]
description = "Lint TOML files"
run = "taplo check"
